@import "./variables.scss";
@import "./mixin.scss";
$white-bg: #eee;
$base-font: 16px;
.box{
  @include xs {
    font-size: 50px;
  }
  background-color: $white-bg;
  height: 50px;
  margin: 5px 0px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.box {
  & > h3 {
    color: $blue;
  }
}

input[type="text"] {
  width: 100%;
  font-size: $base-font * 2;
  color: green;
  border: 1px solid $blue;;
  border-radius: 10px;
}
